<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>车辆展示_这里是您的网站名称</title>
<meta name="keywords" content="这里是您的网站名称" />
<meta name="description" content="这里是您的网站名称"/>

<meta name="Author" content="024" />

<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

<LINK href="__INDEX__/style/style.css" rel=stylesheet>
<LINK href="__INDEX__/style/meGrass.css" rel=stylesheet>
<LINK href="__INDEX__/style/bootstrap.css" rel=stylesheet>
<script language="JavaScript" type="text/javascript" src="__INDEX__/style/jquery.js"></script>
<style>
	table a:hover {
		text-decoration: underline;
	}
</style>
    

<!--[if IE 6]><script type="text/javascript" src="js/DD_belatedPNG.js"></script><![endif]-->
<script>
$(function(){
	$('.h2').click(function(){
		$(this).addClass('active');
		$('.h1').removeClass('active');
		$('.rents').css('display','block');
		$('.seconds').css('display','none');
	});

	$('.h1').click(function(){
		$(this).addClass('active');
		$('.h2').removeClass('active');
		$('.rents').css('display','none');
		$('.seconds').css('display','block');
	});


})


</script>
</head>
<body>	
{include file="public:header" /}

<div class="me-main">
		<!-- 左边侧边栏 -->
		<div class="me-sidebar">
			<div class="me-img"><img src="__IMG__/{$user.img}" alt="" /></div>
			<div class="me-name">欢迎您.{if condition="$user.name eq '' "} {$user.phone|phone} {else/}  {$user.name} {/if}</div>
			<div class="me-nav">
				<ul>
					<li><a href="{:url('user/index')}">首页</a></li>
					<li  ><a href="{:url('user/collect')}">关注房源</a></li>
					<li  > <a href="{:url('user/subscribe')}">预约清单</a></li>
					<li><a href="{:url('user/broker')}">我关注的经纪人</a></li>
					<li class="active" ><a href="{:url('user/entrust')}">我的委托</a></li>
				</ul>
			</div>
					
		</div>
		<!-- 右边主题 -->
		<div class="me-content">
			<h2>共<span class="red">{$count}</span>完成评分</h2>
			<div class="me-nav" style="margin-bottom:50px">
				<ul>
					<li class=" h1 active"><a href="#">二手房</a></li>
					<li class="h2"><a href="#">新房</a></li>
				</ul>
			</div>
			 <div class="widget-body seconds" >
	            <table class="table table-striped table-hover table-bordered" id="editabledatatable">
	                <thead>
	                    <tr role="row">
	                        <th>id</th>
	                        <th>预约房源</th>
	                        <th>评价</th>
	                        <th>带看经纪人</th>
	                        <th>评分</th>
	                        <th>状态</th>
	                    </tr>
	                </thead>

	                <tbody>
	                    {volist name="seconds" id="vo"}
	                    <tr>
	                        <td>{$vo.id}</td>
	                        <td><a href="{:url('rent_house/main',['id'=>$vo.house_id])}" style="color:red" target="_blank">{:title($vo.house_id,$vo.house_type)}</a></td>
	                        <td>{$vo.evaluate|title_substr}</td>
	                        <td><a href="{:url('broker/user',['id'=>$vo.broker_id])}" target="_blank">{$vo.broker_id|broker_name}</a></td>
	                         <td>{$vo.grade}分</td>
	                        <td>{$vo.status|house_type}</td>
	                     </tr>
	                    {/volist}
	                </tbody>
	            </table>
	            <div>{$rents->render()}</div>
	        </div>
				<div class="widget-body rents" style="display:none;" >
					<table class="table table-striped table-hover table-bordered" id="editabledatatable">
						<thead>
							<tr role="row">
								<th>id</th>
								<th>预约房源</th>
								<th>描述</th>
								<th>预留姓名</th>
								<th>创建时间</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>

						<tbody>
							{volist name="rents" id="vo"}
							<tr>
								<td>{$vo.id}</td>
								<td>{:title($vo.house_id,$vo.house_type)}</td>
								<td>{$vo.user_desc|title_substr=###,10}</td>
								<td>{$vo.name} {$vo.sex|sex}</td>
								<td>{$vo.create_time|create_time}</td>
								<td>{$vo.status|house_type}</td>
								<td>
									<a href="{:url('rent_house/delete',['id'=>$vo.id])}"  class="btn btn-danger btn-xs delete" onclick="" ><i class="fa fa-trash-o"></i>取消预约</a>
								</td>
							</tr>
							{/volist}
						</tbody>
					</table>
					<div>{$rents->render()}</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>


	{include file="public:footer"/}

    </body>
</html>


