<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<LINK href="__INDEX__/style/style.css" rel=stylesheet>
	<link rel="stylesheet" href="__INDEX__/css/login.css">
	<script language="JavaScript" type="text/javascript" src="__INDEX__/style/jquery.js"></script>
	<script>


  var c=60;
  var t;
   function timedCount()
	{
		
		if(c!=0){
		//获得内容
		$("#verify").text(c+"秒后重试");
		c=c-1;
		t=setTimeout("timedCount()",1000);
		}else{
		 $("#verify").text("获得验证码");

		 c=60;
		}
	}

  $(function(){
		
	  	//验证11手机号输入成功后
  	 $("#phone").keyup(function(){
  	 	var value=$(this).val();
  	 	var len=value.length;
  	 	if(len==11){
  	 		var patt1=new RegExp("1[3458][0-9]{9}");
  	 		if(patt1.test(value)){
				$("#verify").removeAttr("disabled").removeClass("verification").addClass("success-verification");	
  	 		}
  	 	}else{
  	 		$("#verify").attr("disabled","disabled").removeClass("success-verification").addClass("verification");	
  	 	}
  	 });

  	 //点击获取验证码
  	  $("#verify").click(function(){
  	  		if($("#verify").text()=="获得验证码"){
  	  				var phone=$("#phone").val();
  	  				$.get("{:url('login/response')}",{phone:phone},function(data){
  	  					
  	  							if(data==1){
  	  								window.alert('短信发送成功');
  	  							}else if(data==2){
  	  								window.alert('短信发送失败');
  	  							}else{
  	  								window.alert('未知错误');
  	  							}
  	  				});
					timedCount();
  	  		}else{
  	  			
  	  		}
			
  	  });
  	  //简单计时器
  	 


  	  $("#checks").keyup(function(){
  	 	var value=$(this).val();
  	 	var value2=$("#phone").val();
  	 	var patt2=new RegExp("1[3458][0-9]{9}");
  	 	var patt1=new RegExp("[0-9]{4}");

  	 	if(patt1.test(value) && patt2.test(value2)){
			$("#submit").removeAttr("disabled").removeClass("verification").addClass("success-verification");	
  	 	}else{
  	 		$("#submit").attr("disabled","disabled").removeClass("success-verification").addClass("verification");	
  	 	}
  	 });

  	  	
	
  })

	</script>
</head>
<body>
			<div class="header">
					<div class="header-main">
        					<a href="#" title="返回首页"><img src="images/logo.png" alt="这里是您的网站名称" /></a>
					</div>
			</div>
				<input type="text" class="phone">
			<div class="login-main">
				<div class="login-content">
					<div class="contents">
						<h2>登陆零雾三九房产网</h2>
						<div class="login-type">
							<span ><a href="{:url('login/index')}">账号密码登陆</a></span>
							<span class=" active"><a href="{:url('login/shortcut')}">手机号快捷登录</a></span>
							<span  ><a href="{:url('login/login')}">手机号注册</a></span>
						</div>
						<form action="" method="post">


							<div class="form-group post-phone">
								<p style="display:none">请输入正确的手机号码</p>
								<em class="icon-phone">&nbsp;</em>
								<input type="text" placeholder="请输入正确的手机号码" maxlength="11" id="phone" name="phone" >
							</div>		
							<div class="form-group post-verification">
								<em class="icon-verification">&nbsp;</em>
								<input type="text" maxlength="6"  name='verify' id="checks" >
								<button type="button" class="btn verification" id="verify"  disabled>获得验证码</button>
							</div>
							<div class="submit">
								<button class="verification"  disabled  id="submit" >提交按钮</button>
							</div>
						</form>


					</div>
				</div>	
			</div>
      
</body>
</html>