<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>车辆展示_这里是您的网站名称</title>
<meta name="keywords" content="这里是您的网站名称" />
<meta name="description" content="这里是您的网站名称"/>

<meta name="Author" content="024" />

<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

<LINK href="__INDEX__/style/style.css" rel=stylesheet>
<LINK href="__INDEX__/style/broker_show.css" rel=stylesheet>
<LINK href="__INDEX__/style/bootstrap.css" rel=stylesheet>
<link rel="stylesheet" href="__INDEX__/css/jquery.lineProgressbar.css">
<link rel="stylesheet" href="__INDEX__/css/bootstrap.min.css">
<script language="JavaScript" type="text/javascript" src="__INDEX__/style/jquery.js"></script>

<!--[if IE 6]><script type="text/javascript" src="js/DD_belatedPNG.js"></script><![endif]-->

<script>
    $(function(){
        $('#make-table').click(function(){
                $(this).addClass('active');
                $('#look-table').removeClass('active');
                $("[data-href='look-table']").css('display','none');
                $("[data-href='make-table']").css('display','');
        })

         $('#look-table').click(function(){
                $(this).addClass('active');
                $('#make-table').removeClass('active');
                $("[data-href='make-table']").css('display','none');
                $("[data-href='look-table']").css('display','');
                
        })


         $('#make-ul').click(function(){
                $(this).addClass('active');
                $('#look-ul').removeClass('active');
                $("[data-href='look-ul']").css('display','none');
                $("[data-href='make-ul']").css('display','');
        })

         $('#look-ul').click(function(){
                $(this).addClass('active');
                $('#make-ul').removeClass('active');
                $("[data-href='look-ul']").css('display','');
                $("[data-href='make-ul']").css('display','none');
                
        })


    })
</script>
</head>
<body>
  {include file="public:header"/}
<div class="broker-main">
  <div class="broker-content">
      <!-- 薯条 -->
      <div class="broker-coke">
         <a href="#">链家网北京站</a> > 北京房屋经纪人 > 丰台房产经纪人 > 赵公口房产经纪人
      </div>
      <div class="broker-left">
          <!-- 经纪人详细信息 -->
          {include file="public:broker"/}
         <!-- 下面超多的东西 -->
             <div class="broker-generalize">
                  <!-- 个人用户的导航 -->
                     <div class="broker-nav">
                              <ul>
                                <li class="artivle"><a href="{:url('broker/user',['id'=>$id])}" >概括</a></li>
                                <li ><a href="{:url('broker/second',['id'=>$id])}" >二手房源</a></li>
                                <li><a href="{:url('broker/rent',['id'=>$id])}" >租房房源</a></li>
                              </ul>
                     </div>
                    <!-- 做的各种各样的事情 -->
                    <div class="broker-account">
                        <h3>经纪人自述</h3>
                        <p>{$broker.desc}</p>
                    </div>
                    <!-- 用户评价 -->
                    <div class="broker-evaluate">
                        <h3>用户评分</h3>
                        <p class="broker-make"><button class="make active" id="make-ul">成交小区</button><button class="look" id="look-ul">带看客户</button></p>
                        <ul data-href="make-ul" >
                            <li>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="jindutiao"></span>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:{:gradeCount($getLookCount,5)}%;">
                                    <div class="progress-value">{:gradeCount($getLookCount,5)}%</div>
                                  </div>
                                </div>
                                <span class="renshu">({$getLookCount[5]})</span>
                            </li>
                            <li>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="star"></span>
                                <span class="jindutiao"></span>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 90%;">
                                    <div class="progress-value">90%</div>
                                  </div>
                                </div>
                                <span class="renshu">(113)</span>
                            </li>
                            <li>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="jindutiao"></span>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 90%;">
                                    <div class="progress-value">90%</div>
                                  </div>
                                </div>
                                <span class="renshu">(113)</span>
                            </li>
                            <li>
                                <span class="full-star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="jindutiao"></span>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 20%;">
                                    <div class="progress-value">20%</div>
                                  </div>
                                </div>
                                <span class="renshu">(113)</span>
                            </li>
                             <li>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="jindutiao"></span>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 90%;">
                                    <div class="progress-value">90%</div>
                                  </div>
                                </div>
                                <span class="renshu">(113)</span>
                            </li>

                        </ul>



                         <ul data-href="look-ul" style="display: none">
                            <li>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="jindutiao"></span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:{:gradeCount($getLookCount,5)}%;">
                                        <div class="progress-value">{:gradeCount($getLookCount,5)}%</div>
                                    </div>
                                </div>
                                <span class="renshu">({$getLookCount[5]})</span>
                            </li>
                            <li>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="star"></span>
                                <span class="jindutiao"></span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:{:gradeCount($getLookCount,4)}%;">
                                    <div class="progress-value">{:gradeCount($getLookCount,4)}%</div>
                                </div>
                            </div>
                            <span class="renshu">({$getLookCount[4]})</span>
                            </li>
                            <li>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="full-star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="jindutiao"></span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:{:gradeCount($getLookCount,3)}%;">
                                        <div class="progress-value">{:gradeCount($getLookCount,3)}%</div>
                                    </div>
                                </div>
                                <span class="renshu">({$getLookCount[3]})</span>
                            </li>
                            <li>
                                <span class="full-star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="jindutiao"></span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:{:gradeCount($getLookCount,2)}%;">
                                        <div class="progress-value">{:gradeCount($getLookCount,2)}%</div>
                                    </div>
                                </div>
                                <span class="renshu">({$getLookCount[2]})</span>
                            </li>
                             <li>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="star"></span>
                                <span class="jindutiao"></span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:{:gradeCount($getLookCount,1)}%;">
                                        <div class="progress-value">{:gradeCount($getLookCount,1)}%</div>
                                    </div>
                                </div>
                                <span class="renshu">({$getLookCount[1]})</span>
                            </li>
                        </ul>




                    </div>
                      <!-- 能力概括 -->
                    <div class="broker-account">
                        <h3>能力概括</h3>
                        <p class="broker-make"><button class="make active"  id="make-table">成交小区</button><button class="look" id="look-table">带看客户</button></p>
                        <table data-href="make-table" >
                            <tr>
                                <th>排行</th>
                                <th>小区名称</th>
                                <th>所属商圈</th>
                                <th>所属区域</th>
                                <th>成交量</th>
                            </tr>
                            <tr>
                                <td><span class="red-circle">1</span></td>
                                <td>金域华府</td>
                                <td>沂龙湾</td>
                                <td>beicheng xinqu</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td><span class="red-circle">2</span></td>
                                <td>金域华府</td>
                                <td>沂龙湾</td>
                                <td>beicheng xinqu</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td><span class="red-circle">3</span></td>
                                <td>金域华府</td>
                                <td>沂龙湾</td>
                                <td>beicheng xinqu</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td><span class="black-circle">4</span></td>
                                <td>金域华府</td>
                                <td>沂龙湾</td>
                                <td>beicheng xinqu</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td><span class="black-circle">5</span></td>
                                <td>金域华府</td>
                                <td>沂龙湾</td>
                                <td>beicheng xinqu</td>
                                <td>15</td>
                            </tr>
                        </table>

                        
                        <table data-href="look-table" style="display:none">
                            <tr>
                                <th>排行</th>
                                <th>小区名称</th>
                                <th>所属商圈</th>
                                <th>所属区域</th>
                                <th>成交量</th>
                            </tr>
                            <tr>
                                <td><span class="red-circle">1</span></td>
                                <td>金域华府</td>
                                <td>沂龙湾</td>
                                <td>beicheng xinqu</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td><span class="red-circle">2</span></td>
                                <td>金域华府</td>
                                <td>沂龙湾</td>
                                <td>beicheng xinqu</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td><span class="red-circle">3</span></td>
                                <td>金域华府</td>
                                <td>沂龙湾</td>
                                <td>beicheng xinqu</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td><span class="black-circle">4</span></td>
                                <td>金域华府</td>
                                <td>沂龙湾</td>
                                <td>beicheng xinqu</td>
                                <td>88</td>
                            </tr>
                            <tr>
                                <td><span class="black-circle">5</span></td>
                                <td>金域华府</td>
                                <td>沂龙湾</td>
                                <td>beicheng xinqu</td>
                                <td>115</td>
                            </tr>
                        </table>
                    </div>

                    <!-- 最近成交房源 -->
                    <div class="recently-make">
                        <h3 class="make-h3">最近成交的房源3套房源</h3>
                        <div class="recently">
                            <ul>
                                <li>
                                    <div class="recently-img"><img src="https://gss1.bdstatic.com/-vo3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=72c6a907d333c895a67e9f7de92814cd/b3b7d0a20cf431adb60d9da94136acaf2fdd9847.jpg" alt="" /></div>
                                    <div class="recently-info">
                                        <h3>北京市 2室1厅 81.89㎡</h3>
                                        <p>东南 /中楼层 (共20层)/ 2008年板塔结合</p>
                                        <p>房本满五年   距离5号线立水桥站601米</p>
                                        <p class="red">签约时间：2017.12.04</p>
                                    </div>
                                    <div class="recently-price">
                                        <p>单价 <span class="red">54525</span> 元/平</p>
                                        <p>总价 <span class="red">446.5万</span></p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                 <li>
                                    <div class="recently-img"><img src="https://gss1.bdstatic.com/-vo3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=72c6a907d333c895a67e9f7de92814cd/b3b7d0a20cf431adb60d9da94136acaf2fdd9847.jpg" alt="" /></div>
                                    <div class="recently-info">
                                        <h3>北京市 2室1厅 81.89㎡</h3>
                                        <p>东南 /中楼层 (共20层)/ 2008年板塔结合</p>
                                        <p>房本满五年   距离5号线立水桥站601米</p>
                                        <p class="red">签约时间：2017.12.04</p>
                                    </div>
                                    <div class="recently-price">
                                        <p>单价 <span class="red">54525</span> 元/平</p>
                                        <p>总价 <span class="red">446.5万</span></p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                 <li>
                                    <div class="recently-img"><img src="https://gss1.bdstatic.com/-vo3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=72c6a907d333c895a67e9f7de92814cd/b3b7d0a20cf431adb60d9da94136acaf2fdd9847.jpg" alt="" /></div>
                                    <div class="recently-info">
                                        <h3>北京市 2室1厅 81.89㎡</h3>
                                        <p>东南 /中楼层 (共20层)/ 2008年板塔结合</p>
                                        <p>房本满五年   距离5号线立水桥站601米</p>
                                        <p class="red">签约时间：2017.12.04</p>
                                    </div>
                                    <div class="recently-price">
                                        <p>单价 <span class="red">54525</span> 元/平</p>
                                        <p>总价 <span class="red">446.5万</span></p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                            <div>分页哦</div>
                        </div>
                    </div>
          </div>


      </div>
      <div class="broker-right">
            <!-- 形成安排 -->
            <div class="authentication ">
                <h4>服务行程</h4>
                {volist name="looks" id="vo"}
                <div class="authentication-look">
                    <p><span class="bold-1">[最新带看]</span>{$vo.update_time|time|date="Y-m-d",###}</p>
                    <p>带看客户看房<a href="#">{:title($vo.house_id,$vo.house_type)}</a>等3套</p>
                </div>
                {/volist}
            </div>
      </div>
      <div class="clear"></div>
    
  </div>
</div>




  
 
<div class="foot">
  <div class="foot-map">
      <div class="foot-mleft">
          <div class="site">网站地图（<a href="sitemap.xml" target="_blank">xml</a> / <a href="sitemap.html" target="_blank">html</a>）</div>        
            <ul> 
            <li>  
            <a href="index.php" title="网站首页">网站首页</a> 
                                                 
             <a href="http://0001543.ks.panguweb.cn/about.php" title="关于我们">关于我们</a> 
                                                             
             <a href="http://0001543.ks.panguweb.cn/product.php" title="车辆展示">车辆展示</a> 
                                                             
             <a href="http://0001543.ks.panguweb.cn/news.php" title="新闻资讯">新闻资讯</a> 
                                                                                                                                                                                                  </li>
             <li>             
                                                                                                                               
             <a href="http://0001543.ks.panguweb.cn/case.php" title="主要车型">主要车型</a> 
                                                             
             <a href="http://0001543.ks.panguweb.cn/honor.php" title="资质荣誉">资质荣誉</a> 
                                                             
             <a href="http://0001543.ks.panguweb.cn/notice.php" title="租车须知">租车须知</a> 
                                                             已升级到最新版本
             <a href="http://0001543.ks.panguweb.cn/hr.php" title="人才招聘">人才招聘</a> 
                                                                                          </li>
            
             <li>  
                                                                                                                                                                                                                                       
             <a href="http://0001543.ks.panguweb.cn/book.php" title="在线留言">在线留言</a> 
                                                             
             <a href="http://0001543.ks.panguweb.cn/contact.php" title="联系我们">联系我们</a> 
                                      </li>
      
            </ul>
        </div>
        <div class="foot-tel"><p>热线电话<br /><label>+86-0000-96877</label></p><span>7x24小时全国客服热线，全年无休</span></div>
        <p class="foot-er"><img src="images/er.gif" alt="" width="123" height="121" /><br />扫一扫关注我们</p>
  </div>
  <div class="clear"></div>
  <div class="footlink">
    <b class="name">友情链接： </b>
    <div class="linka"> 
              <a href="http://www.baidu.com" target="_blank">百度</a>
         
    </div>
  </div>
    <div class="foot-con">
        <div class="foot-left">电话：+86-0000-96877     传真：+86-0000-96877     地址：     版权所有：这里是您的网站名称<br />
    技术支持：<a href="http://www.pangu.us" target="_blank" title="盘古网络－提供基于互联网的全套解决方案" >盘古网络</a><a href="http://ks.pangu.us" target="_blank" title="盘古建站－快速开展网络营销的利器">【盘古建站】</a>ICP备案编号：<a href="http://www.miitbeian.gov.cn/" title="备********号" target="_blank">备********号</a></div>
    <div class="newsshare"><div class="bdsharebuttonbox"><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a class="bds_bdhome" data-cmd="bdhome" title="分享到百度新首页" href="#"></a></div>
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script></div>
</div>

<script src="js/jquery.lineProgressbar.js"></script> 
<script type="text/javascript">
    $(function(){
      $('#progressbar2').LineProgressbar({
        percentage: 1,
        fillBackgroundColor: '#1abc9c'
      });
    })
  </script>

    </body>
</html>


