<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>车辆展示_这里是您的网站名称</title>
<meta name="keywords" content="这里是您的网站名称" />
<meta name="description" content="这里是您的网站名称"/>

<meta name="Author" content="024" />

<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

<script type="text/javascript" src="__INDEX__/style/urlredirect.js"></script>
<LINK href="__INDEX__/style/style.css" rel=stylesheet>
<LINK href="__INDEX__/style/jbox.css" rel=stylesheet>
<script language="JavaScript" type="text/javascript" src="__INDEX__/style/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="__INDEX__/style/functions.js"></script>
<script language="JavaScript" type="text/javascript" src="__INDEX__/style/validForm/FormValid.js"></script>
<script language="JavaScript" type="text/javascript" src="__INDEX__/style/jbox/jquery.jBox-2.3.min.js"></script>
<script language="JavaScript" type="text/javascript" src="__INDEX__/style/search.js"></script>
<script language="JavaScript" type="text/javascript" src="__INDEX__/style/menu.js"></script>
<script language="JavaScript" type="text/javascript" src="__INDEX__/style/jQselect.js"></script>
<script language="JavaScript" type="text/javascript" src="__INDEX__/style/slides.min.jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="__INDEX__/style/jquery.touchSlider.js"></script>
<script type="text/javascript"><!--ibanner-->

$(document).ready(function () {
	$(".main_visual").hover(function(){
		$("#btn_prev,#btn_next").fadeIn()
		},function(){
		$("#btn_prev,#btn_next").fadeOut()
		})
	$dragBln = false;
	$(".main_image").touchSlider({
		flexible : true,
		speed : 200,
		btn_prev : $("#btn_prev"),
		btn_next : $("#btn_next"),
		paging : $(".flicking_con a"),
		counter : function (e) {
			$(".flicking_con a").removeClass("on").eq(e.current-1).addClass("on");
		}
	});
	$(".main_image").bind("mousedown", function() {
		$dragBln = false;
	})
	$(".main_image").bind("dragstart", function() {
		$dragBln = true;
	})
	$(".main_image a").click(function() {
		if($dragBln) {
			return false;
		}
	})
	timer = setInterval(function() { $("#btn_next").click();}, 5000);
	$(".main_visual").hover(function() {
		clearInterval(timer);
	}, function() {
		timer = setInterval(function() { $("#btn_next").click();}, 5000);
	})
	$(".main_image").bind("touchstart", function() {
		clearInterval(timer);
	}).bind("touchend", function() {
		timer = setInterval(function() { $("#btn_next").click();}, 5000);
	})
});
</script>
<script><!--pro-->
		$(function(){
			// Set starting slide to 1
			var startSlide = 1;
			// Get slide number if it exists
			if (window.location.hash) {
				startSlide = window.location.hash.replace('#','');
			}
			// Initialize Slides
			$('#slides').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				generatePagination: true,
				play: 0,
				pause: 2500,
				hoverPause: true,
				// Get the starting slide
				start: startSlide,
				animationComplete: function(current){
					// Set the slide number as a hash
					//window.location.hash = '#' + current;
				}
			});
		});
</script>
<!--[if IE 6]><script type="text/javascript" src="js/DD_belatedPNG.js"></script><![endif]-->
</head>
<body>
  {include file="public:header"/}
<script type="text/javascript" src="js/jquery.lightbox-0.5.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('.dropdown-content a').click(function(){
            var text=$(this).text();
            var val=$(this).attr('data-value');
            $(this).parent().prev().prev().text(text);
            $(this).parent().prev().val(val);
        })
        
    });


</script>
<!-- 主要信息 -->
<div class="main">
    <!-- 查询标题 -->
    <div class="main_nav">
       <span class="float_left">房源展示</span> 
       <span class="float_right">当前位置 <a href="#" title="首页">首页</a> > 预约房源   </span> 
       <div class="clear"></div>
    </div>
    <div class="main_content">
        <div class="main_left">
            <form action="{:url('index/subscribe_add')}" method="post">
            <ul>
                <li>
                    <span class="main_content_title">预约房源</span>
                    <span class="main_content_value">
                    {$house.estate_id|estate_name} {$house.room}室{$house.hall}厅 {$house.proportion|floatval}㎡   
                      {if condition="$type==2"}
                      {$house.price|floatval}元/月
                      {$house.rent_type|rent_type}
                      {elseif condition="$type==1"/}
                       {$house.price|floatval}万元
                      {/if}
                      <input type="hidden" name="house_type" value="{$type}" />
                      <input type="hidden" name="house_id" value="{$house.id}" />
                      </span>
                </li>
                <li>
                    <span class="main_content_title">称呼</span>
                    <span class="main_content_value"><input type="text" name="name" id="" placeholder="名称" />
                    <select name="sex" >
                        <option value="1">先生</option>
                        <option value="2">女士</option>
                    </select>
                    </span>
                </li>
                <li>
                    <span class="main_content_title">预留手机号</span>
                    <span class="main_content_value">
                        <input type="text" name="phone" id="" placeholder="填写手机号" />
                    </span>
                </li>
                <li>
                    <span class="main_content_title">带看时间说明</span>
                   <span class="main_content_value"><input type="text" name="user_desc"  placeholder="请备注带看时间" style="width:70%"/></span>
                </li>
                <li class="form-button"><button type="submit" >提交信息</button></li>
            </ul>
            </form>

        </div>
        <div class="main_right">
            <div class="main_right_nav">
                <p>预约带看的三种方式</p>
                <p></p>
            </div>
            <div class="main_right_content">
                <ul>
                    <li>1.预约带看,请把信息填写完整,会有经纪人跟您联系。</li>
                    <li>2.拨打经纪人电话。</li>
                    <li>3.用户可以直接搜索零五三九房地产门店,前往门店。</li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
    {include file="public:footer"/}

    </body>
</html>


