<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>车辆展示_这里是您的网站名称</title>
<meta name="keywords" content="这里是您的网站名称" />
<meta name="description" content="这里是您的网站名称"/>

<meta name="Author" content="024" />

<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<LINK href="__INDEX__/style/style.css" rel=stylesheet>
<LINK href="__INDEX__/style/page.css" rel=stylesheet>
<LINK href="__INDEX__/style/bootstrap.css" rel=stylesheet>
<script language="JavaScript" type="text/javascript" src="__INDEX__/style/jquery.js"></script>
<script>
function Filter(field,value){  
        
        var name="#"+field;
        $(name).val(value);
        $("#filterForm").submit();
} 
/*
$(function(){
  $('#filterForm input').each(function(){
      var id=$(this).val();
      if(id==''){
          $(this).remove();
      }
  })
})*/
</script>
</head>
<body>
{include file="public:header"/}
<!-- 表单头部 -->
<div class="page-header">
<div class="main">
    <div class="main-nav">
        <div><img src="images/logo.png" alt="" /></div>
        <div class="main-input"><input type="text" name="" placeholder="  请输入区域,小区名开始找房" id="" /><button type="submit">&nbsp;</button></div>

    </div>

</div>

</div>
<!-- 搜索框 -->
  <div class="contents">



      

  <div class="content-search">

            <form id="filterForm" action="" method="get">
                <input to="filter" type="hidden" id="city_id" name="city_id" value="{$fitervalue['city_id']}" />  
                <input to="filter" type="hidden" id="price" name="price" value="{$fitervalue['price']}" />  
                <input to="filter" type="hidden" id="room" name="room" value="{$fitervalue['room']}" />  
                <input to="filter" type="hidden" id="orientation" name="orientation" value="{$fitervalue['orientation']}" />  
                <input to="filter" type="hidden" id="purpose" name="purpose" value="{$fitervalue['purpose']}" />  
                <input to="filter" type="hidden" id="decorate" name="decorate" value="{$fitervalue['decorate']}" />  
            </form> 

            <p><span class="content-title">位置:</span>
            <span class="content-main">
              <a href="javascript:Filter('city_id','');"  {if condition="$fitervalue['city_id'] eq ''"} class="activate" {/if}>不限</a>
              {volist name="regions" id="vo"}
                <a href="javascript:Filter('city_id','{$vo.id}');" {if condition="$vo.id eq $cityPrant_id"} class="activate" {/if} >{$vo.name}</a>
              {/volist}
            </span>
            </p>
            <p><span class="content-title">商圈:</span>
            <span class="content-main">
                {volist name="business" id="vo"}  
                  <a href="javascript:Filter('city_id','{$vo.id}');" {if condition="$fitervalue['city_id'] eq $vo.id"} class="activate" {/if} >{$vo.name}</a>
                {/volist}
            </span>
            </p>
            <p><span class="content-title">价格:</span>
            <span class="content-main">
              <a href="javascript:Filter('price','');" } {if condition="$fitervalue['price'] eq ''"} class="activate" {/if}>不限</a>
              <a href="javascript:Filter('price','500');"  {if condition="$fitervalue['price'] eq '500'"} class="activate" {/if}>500元以下</a>
              <a href="javascript:Filter('price','500-1000' );"  {if condition="$fitervalue['price'] eq '500-1000' "} class="activate" {/if} >500-1000元</a>
              <a href="javascript:Filter('price','1000-1500' );"{if condition="$fitervalue['price'] eq  '1000-1500' "} class="activate" {/if} >1000-1500元</a>
              <a href="javascript:Filter('price','1500-2500' );"  {if condition="$fitervalue['price'] eq '1500-2500' "} class="activate" {/if}>1500-2500元</a>
              <a href="javascript:Filter('price','2500-3500' );" {if condition="$fitervalue['price'] eq '2500-3500' "} class="activate" {/if}>2500-3500元</a>
              <a href="javascript:Filter('price','3500-4500' );" {if condition="$fitervalue['price'] eq '3500-4500' "} class="activate" {/if}>3500-4500元</a>
              <a href="javascript:Filter('price','4500');"  {if condition="$fitervalue['price'] eq '4500'"} class="activate" {/if}>4500元以上</a>
            </span>
            </p>
            <p><span class="content-title">户型:</span>
            <span class="content-main">
              <a href="javascript:Filter('room','');" {if condition="$fitervalue['room'] eq '' "} class="activate" {/if}>不限</a>
              <a href="javascript:Filter('room','1');" {if condition="$fitervalue['room'] eq 1"} class="activate" {/if}>1室</a>
              <a href="javascript:Filter('room','2');" {if condition="$fitervalue['room'] eq 2"} class="activate" {/if}>2室</a>
              <a href="javascript:Filter('room','3');" {if condition="$fitervalue['room'] eq 3"} class="activate" {/if}>3室</a>
              <a href="javascript:Filter('room','4');" {if condition="$fitervalue['room'] eq 4"} class="activate" {/if}>4室</a>
              <a href="javascript:Filter('room','5');" {if condition="$fitervalue['room'] eq 5"} class="activate" {/if}>5室</a>
              <a href="javascript:Filter('room','6');" {if condition="$fitervalue['room'] eq 6"} class="activate" {/if}>5室以上</a>
            </span>
            </p>
              <span class="content-title">其他</span>
              <div class="dropdown">
                      <button class="dropbtn">朝向</button>
                      <div class="dropdown-content">
                        <a href="javascript:Filter('orientation','');"  {if condition="$fitervalue['orientation'] eq ''"} class="activate" {/if} >不限</a>
                        <a href="javascript:Filter('orientation','1');"  {if condition="$fitervalue['orientation'] eq 1"} class="activate" {/if} >东</a>
                        <a href="javascript:Filter('orientation','2');"  {if condition="$fitervalue['orientation'] eq 2"} class="activate" {/if} >西</a>
                        <a href="javascript:Filter('orientation','3');"  {if condition="$fitervalue['orientation'] eq 3"} class="activate" {/if} >南</a>
                        <a href="javascript:Filter('orientation','4');"  {if condition="$fitervalue['orientation'] eq 4"} class="activate" {/if} >北</a>
                        <a href="javascript:Filter('orientation','5');"  {if condition="$fitervalue['orientation'] eq 5"} class="activate" {/if} >东南</a>
                        <a href="javascript:Filter('orientation','6');"  {if condition="$fitervalue['orientation'] eq 6"} class="activate" {/if} >东北</a>
                        <a href="javascript:Filter('orientation','7');"  {if condition="$fitervalue['orientation'] eq 7"} class="activate" {/if} >西南</a>
                        <a href="javascript:Filter('orientation','8');"  {if condition="$fitervalue['orientation'] eq 8"} class="activate" {/if} >西北</a>
                        <a href="javascript:Filter('orientation','9');"  {if condition="$fitervalue['orientation'] eq 9"} class="activate" {/if} >南北</a>
                        <a href="javascript:Filter('orientation','10');"  {if condition="$fitervalue['orientation'] eq 10"} class="activate" {/if} >东西</a>
                      </div>
                </div>
                <div class="dropdown">
                      <button class="dropbtn">房屋类型</button>
                      <div class="dropdown-content">
                        <a href="javascript:Filter('purpose','');"  {if condition="$fitervalue['purpose'] eq ''"} class="activate" {/if}>不限</a>
                        <a href="javascript:Filter('purpose','1');" {if condition="$fitervalue['purpose'] eq 1"} class="activate" {/if} >普通住宅</a>
                        <a href="javascript:Filter('purpose','2');" {if condition="$fitervalue['purpose'] eq 2"} class="activate" {/if} >公寓</a>
                        <a href="javascript:Filter('purpose','3');" {if condition="$fitervalue['purpose'] eq 3"} class="activate" {/if} >别墅</a>
                        <a href="javascript:Filter('purpose','4');" {if condition="$fitervalue['purpose'] eq 4"} class="activate" {/if} >平房/四合院</a>
                        <a href="javascript:Filter('purpose','5');" {if condition="$fitervalue['purpose'] eq 5"} class="activate" {/if} >其他</a>
                      </div>
                </div>
                <div class="dropdown">
                      <button class="dropbtn">装修情况</button>
                      <div class="dropdown-content">
                        <a href="javascript:Filter('decorate','');"   {if condition="$fitervalue['decorate'] eq ''"} class="activate" {/if}>不限</a>
                        <a href="javascript:Filter('decorate','1');"  {if condition="$fitervalue['decorate'] eq 1"} class="activate" {/if}>毛坯</a>
                        <a href="javascript:Filter('decorate','2');"  {if condition="$fitervalue['decorate'] eq 2"} class="activate" {/if}>简单装修</a>
                        <a href="javascript:Filter('decorate','3');"  {if condition="$fitervalue['decorate'] eq 3"} class="activate" {/if}>中等装修</a>
                        <a href="javascript:Filter('decorate','4');"  {if condition="$fitervalue['decorate'] eq 4"} class="activate" {/if}>精装修</a>
                        <a href="javascript:Filter('decorate','5');"  {if condition="$fitervalue['decorate'] eq 5"} class="activate" {/if}>豪华装修</a>
                      </div>
                </div>
              <p><span class="content-title">已选择条件:</span>
            <span class="content-dis">
                {$fitervalue|fitervalue}
            </span>
            </p>

        </div>
        <!-- 导航栏 -->
        <div class="page-nav">
            <ul>
                <li class="activate"><a href="#">默认排序</a></li>
                <li><a href="#">价格</a></li>
                <li><a href="#">面积</a></li>
            </ul>
        </div>
        <!-- 左边主题 -->
        <div class="contents-left">
        
        <h1>共找到{$count|intval}条匹配的房源</h1>
        <div class='page-main'>
                <ul>
                  {volist name="rents" id="vo"}
                    <li>
                        <a href="{:url('rent_house/main',['id'=>$vo.id])}" class="left main-title"><img src="__IMG__/{$vo.id|img=###,2}" alt="" style="width:213px;height:160px"/></a>
                        <div class="page-content left">
                              <h3><a href="{:url('rent_house/main',['id'=>$vo.id])}">{$vo.title}</a><span class="label-blue">新上</span><span class="label-green">房主自荐</span></h3>
                              <p>{$vo.estate_id|estate_name} | {$vo.room}室{$vo.hall}厅{$vo.toilet}卫 | {$vo.proportion|floatval}平米 | {$vo.orientation|orientation} | {$vo.decorate|decorate}</p>
                              <p>{$vo.floor|floors=###,$vo.all_floor}</p>
                              <p>104人关注 / 共32次带看 / {$vo.create_time|create_time}</p>
                              <p>{$vo.label}</p>
                        </div>
                        <div class="page-price right">
                                  <p class="page-Countprice"><span>{$vo.price|floatval}</span>元</p>
                        </div>
                        <div class="clear"></div>
                    </li>
                  {/volist}  
                </ul>
                {$rents->render()}
        </div>
        
        </div>
        <!-- 右边侧边栏 -->
        <div class="contents-right">
            <h3>精选房源</h3>
            <ul>
                <li>
                  <div>
                    <a href="#">
                    <img src="__INDEX__/images/5ef07e88-1a8d-4d27-81df-58dbce807ff0.jpg.280x210.jpg.232x174.jpg" alt="" />
                    <div class="sidebar-user">
                        <span class="sidebar-name">阿里巴巴</span>    
                        <span class="sidebar-tel">13563990501</span>    
                    </div>
                    </a>
                  </div>
                  <div class="sidebar-content">
                      <p class="sidebar-address">兰山区/沂龙湾/青年湖南里</p>
                      <p class="sidebar-room">2室&nbsp;&nbsp;81.0平</p>
                      <p class="sidebar-price">350万</p>
                  </div>
                </li>
                <li>
                  <div>
                    <a href="#">
                    <img src="__INDEX__/images/5ef07e88-1a8d-4d27-81df-58dbce807ff0.jpg.280x210.jpg.232x174.jpg" alt="" />
                    <div class="sidebar-user">
                        <span class="sidebar-name">阿里巴巴</span>    
                        <span class="sidebar-tel">13563990501</span>    
                    </div>
                    </a>
                  </div>
                  <div class="sidebar-content">
                      <p class="sidebar-address">兰山区/沂龙湾/青年湖南里</p>
                      <p class="sidebar-room">2室&nbsp;&nbsp;81.0平</p>
                      <p class="sidebar-price">350万</p>
                  </div>
                </li>
                <li>
                  <div>
                    <a href="#">
                    <img src="__INDEX__/images/5ef07e88-1a8d-4d27-81df-58dbce807ff0.jpg.280x210.jpg.232x174.jpg" alt="" />
                    <div class="sidebar-user">
                        <span class="sidebar-name">阿里巴巴</span>    
                        <span class="sidebar-tel">13563990501</span>    
                    </div>
                    </a>
                  </div>
                  <div class="sidebar-content">
                      <p class="sidebar-address">兰山区/沂龙湾/青年湖南里</p>
                      <p class="sidebar-room">2室&nbsp;&nbsp;81.0平</p>
                      <p class="sidebar-price">350万</p>
                  </div>
                </li>
                <li>
                  <div>
                    <a href="#">
                    <img src="__INDEX__/images/5ef07e88-1a8d-4d27-81df-58dbce807ff0.jpg.280x210.jpg.232x174.jpg" alt="" />
                    <div class="sidebar-user">
                        <span class="sidebar-name">阿里巴巴</span>    
                        <span class="sidebar-tel">13563990501</span>    
                    </div>
                    </a>
                  </div>
                  <div class="sidebar-content">
                      <p class="sidebar-address">兰山区/沂龙湾/青年湖南里</p>
                      <p class="sidebar-room">2室&nbsp;&nbsp;81.0平</p>
                      <p class="sidebar-price">350万</p>
                  </div>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
          
        <div class="page-recommend">
            <h2>推荐房源</h2>
            <ul>
              <li>
                  <div>
                    <a href="#">
                    <img src="__INDEX__/images/5ef07e88-1a8d-4d27-81df-58dbce807ff0.jpg.280x210.jpg.232x174.jpg" alt="" />
                    <div class="sidebar-user">
                        <span class="sidebar-price">3500元/㎡</span>       
                    </div>
                    </a>
                  </div>
                  <div class="sidebar-content">
                      <p class="sidebar-address">兰山区/沂龙湾/青年湖南里</p>
                  </div>
              </li>
               <li>
                  <div>
                    <a href="#">
                    <img src="__INDEX__/images/5ef07e88-1a8d-4d27-81df-58dbce807ff0.jpg.280x210.jpg.232x174.jpg" alt="" />
                    <div class="sidebar-user">
                        <span class="sidebar-price">3500元/㎡</span>       
                    </div>
                    </a>
                  </div>
                  <div class="sidebar-content">
                      <p class="sidebar-address">兰山区/沂龙湾/青年湖南里</p>
                  </div>
              </li>
               <li>
                  <div>
                    <a href="#">
                    <img src="__INDEX__/images/5ef07e88-1a8d-4d27-81df-58dbce807ff0.jpg.280x210.jpg.232x174.jpg" alt="" />
                    <div class="sidebar-user">
                        <span class="sidebar-price">3500元/㎡</span>       
                    </div>
                    </a>
                  </div>
                  <div class="sidebar-content">
                      <p class="sidebar-address">兰山区/沂龙湾/青年湖南里</p>
                  </div>
              </li>
               <li>
                  <div>
                    <a href="#">
                    <img src="__INDEX__/images/5ef07e88-1a8d-4d27-81df-58dbce807ff0.jpg.280x210.jpg.232x174.jpg" alt="" />
                    <div class="sidebar-user">
                        <span class="sidebar-price">3500元/㎡</span>       
                    </div>
                    </a>
                  </div>
                  <div class="sidebar-content">
                      <p class="sidebar-address">兰山区/沂龙湾/青年湖南里</p>
                  </div>
              </li>
               <li>
                  <div>
                    <a href="#">
                    <img src="__INDEX__/images/5ef07e88-1a8d-4d27-81df-58dbce807ff0.jpg.280x210.jpg.232x174.jpg" alt="" />
                    <div class="sidebar-user">
                        <span class="sidebar-price">3500元/㎡</span>       
                    </div>
                    </a>
                  </div>
                  <div class="sidebar-content">
                      <p class="sidebar-address">兰山区/沂龙湾/青年湖南里</p>
                  </div>
              </li>
            </ul>
            <div class="clear"></div>
        </div>
      </div>

  
 
<div class="foot">
  <div class="foot-map">
      <div class="foot-mleft">
          <div class="site">网站地图（<a href="sitemap.xml" target="_blank">xml</a> / <a href="sitemap.html" target="_blank">html</a>）</div>        
            <ul> 
            <li>  
            <a href="index.php" title="网站首页">网站首页</a> 
                                                 
             <a href="http://0001543.ks.panguweb.cn/about.php" title="关于我们">关于我们</a> 
                                                             
             <a href="http://0001543.ks.panguweb.cn/product.php" title="车辆展示">车辆展示</a> 
                                                             
             <a href="http://0001543.ks.panguweb.cn/news.php" title="新闻资讯">新闻资讯</a> 
                                                                                                                                                                                                  </li>
             <li>             
                                                                                                                               
             <a href="http://0001543.ks.panguweb.cn/case.php" title="主要车型">主要车型</a> 
                                                             
             <a href="http://0001543.ks.panguweb.cn/honor.php" title="资质荣誉">资质荣誉</a> 
                                                             
             <a href="http://0001543.ks.panguweb.cn/notice.php" title="租车须知">租车须知</a> 
                                                             
             <a href="http://0001543.ks.panguweb.cn/hr.php" title="人才招聘">人才招聘</a> 
                                                                                          </li>
            
             <li>  
                                                                                                                                                                                                                                       
             <a href="http://0001543.ks.panguweb.cn/book.php" title="在线留言">在线留言</a> 
                                                             
             <a href="http://0001543.ks.panguweb.cn/contact.php" title="联系我们">联系我们</a> 
                                      </li>
      
            </ul>
        </div>
        <div class="foot-tel"><p>热线电话<br /><label>+86-0000-96877</label></p><span>7x24小时全国客服热线，全年无休</span></div>
        <p class="foot-er"><img src="images/er.gif" alt="" width="123" height="121" /><br />扫一扫关注我们</p>
  </div>
  <div class="clear"></div>
  <div class="footlink">
    <b class="name">友情链接： </b>
    <div class="linka"> 
              <a href="http://www.baidu.com" target="_blank">百度</a>
         
    </div>
  </div>
    <div class="foot-con">
        <div class="foot-left">电话：+86-0000-96877     传真：+86-0000-96877     地址：     版权所有：这里是您的网站名称<br />
    技术支持：<a href="http://www.pangu.us" target="_blank" title="盘古网络－提供基于互联网的全套解决方案" >盘古网络</a><a href="http://ks.pangu.us" target="_blank" title="盘古建站－快速开展网络营销的利器">【盘古建站】</a>ICP备案编号：<a href="http://www.miitbeian.gov.cn/" title="备********号" target="_blank">备********号</a></div>
    <div class="newsshare"><div class="bdsharebuttonbox"><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a class="bds_bdhome" data-cmd="bdhome" title="分享到百度新首页" href="#"></a></div>
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script></div>
</div>
</div>

    </body>
</html>


