<!DOCTYPE html>
<html><head>
        <meta charset="utf-8">
    <title>0539房产信息管理系统</title>

    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Basic Styles-->
    <link href="__ADMIN__/style/bootstrap.css" rel="stylesheet">
    <link href="__ADMIN__/style/font-awesome.css" rel="stylesheet">
    <link href="__ADMIN__/style/weather-icons.css" rel="stylesheet">
    
     <!--Page Related styles-->
    <link href="__ADMIN__/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <!--Beyond styles-->
    <link id="beyond-link" href="__ADMIN__/style/beyond.css" rel="stylesheet" type="text/css">
    <link href="__ADMIN__/style/demo.css" rel="stylesheet">
    <link href="__ADMIN__/style/typicons.css" rel="stylesheet">
    <link href="__ADMIN__/style/animate.css" rel="stylesheet">
    <style>
        table,thead th{
        text-align:center;
        }
    </style>

    
</head>
<body>
    {include file="public:header"/}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="{:url('index/index')}">返回首页</a>
                    </li>
                                        <li class="active">预约带看列表</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->

                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="widget">
                                <div class="widget-header  with-footer">
                                    <span class="widget-caption">预约带看列表</span>
                                    <div class="widget-buttons">
                                        <a href="#" data-toggle="maximize">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                        <a href="#" data-toggle="collapse">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <a href="#" data-toggle="dispose">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="flip-scroll">
                                        <table class="table table-bordered table-striped table-condensed flip-content">
                                            <thead class="flip-content bordered-palegreen">
                                                <tr role="row">
                                                    <th>id</th>
                                                    <th>类型</th>
                                                    <th>预约房源</th>
                                                    <th>描述</th>
                                                    <th>预留姓名</th>
                                                    <th>称呼</th>
                                                    <th>用户电话</th>
                                                    <th>创建时间</th>
                                                    <th>状态</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {volist name="look" id="vo"}
                                                <tr>
                                                    <td>{$vo.id}</td>
                                                    <td>{$vo.house_type|type_name}</td>
                                                    <td>{:title($vo.house_id,$vo.house_type)}</td>
                                                    <td>{$vo.desc}</td>
                                                    <td>{$vo.name}</td>
                                                    <td>{$vo.sex|sex}</td>
                                                    <td>{$vo.phone}</td>
                                                     <td>{$vo.create_time|create_time}</td>
                                                    <td>{$vo.status|house_type}</td>
                                                    <td>
                                                        <form action="{:url('share/look_add')}" method="post">
                                                        <a href="{:url('user/collect',['id'=>$vo.user_id])}" class="btn btn-info btn-xs" onclick="">客户</a>
                                                        {if condition="$vo.status eq 4"}
                                                            <input type="hidden" name="id" value="{$vo.id}">
                                                            <button type="submit" class="btn btn-warning btn-xs">完成带看</button>
                                                           {else/}
                                                            <a href="#"  class="btn btn-success btn-xs" onclick="" >已完成带看</a>  
                                                        {/if}
                                                        </form>
                                                        


                                                        
                                                    </td>
                                                </tr>
                                                {/volist}
                                            </tbody>
                                        </table>
                                        <div>{$look->render()}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            
            
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>  
    </div>

        <!--Basic Scripts-->
    <script src="__ADMIN__/style/jquery_002.js"></script>
    <script src="__ADMIN__/style/bootstrap.js"></script>
    <script src="__ADMIN__/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__ADMIN__/style/beyond.js"></script>
    <script src="__ADMIN__/public/js/common.js"></script>
    <script>

       var SCOPE={
        'listorder':"{:url('second_house/listorder')}",
        }; 
               
    </script>


</body></html>