<div class="borkers">
            <div class="broker-user">
                <ul>
                  <li  class="broker-img">
                      <img src="__IMG__/{$broker.broker_img}" alt="" />
                  </li>
                   <li  class="broker-info">
                      <h3>{$broker.username}<span class="grade">{$broker.position|position}</span></h3>
                      <p>所属门店:{$broker.location_id|location_name}</p>
                      <p>联系电话:{$broker.phone}</p>
                  </li>
                   <li  class="graded">
                      综合评分 : 1
                  </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="user-info">
                <p><span class="f-bold">时间:</span>{$broker.entry_time|entry_time} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="f-bold">个人成绩:</span>历史成交76套，最近30天带看房67套</p>
                <p><span class="f-bold">主营版块:</span>{$broker.city_id|emphasisCity}  </p>
                <p><span class="f-bold">重点小区:</span>{$broker.estate|emphasisEstate}</p>
            </div>
          </div>