




	<div class="nav">
    	<ul>
        	<li><a href="{:url('index/index')}" title="网站首页">网站首页</a></li>
                         <li><a href="{:url('second_house/index')}" title="二手房">二手房</a></li>
                        <li><a href="{:url('rent_house/index')}" title="租房">租房</a></li>
                        <li><a href="{:url('broker/index')}" title="经纪人">经纪人</a></li>
                        <li><a href="{:url('house_entrust/index')}" title="卖房委托">卖房委托</a></li>
      </ul>   
      <div class="login">
          {if condition="$user"}
              欢迎您,<a href="{:url('user/index')}">{$user.phone|phone}</a>/ <a href="{:url('login/logout')}">退出</a>
          {else/}
           <a href="{:url('login/index')}">登陆</a> / <a href="{:url('login/login')}">注册</a>
          {/if}
      </div>   
    </div>
    
</div>
<div class="clear"></div> 